[2019-06-19 09:42] lirantal opened #1 "readme screenshots"

[2019-06-19 09:42] #1 closed

[2019-08-01 04:22] DanielRuf opened #4 "Also run CI on Node 12"
**Is your feature request related to a problem? Please describe.**
Currently CI does not test on Node 12.
https://github.com/lirantal/lockfile-lint/blob/master/.travis.yml#L4

**Describe the solution you'd like**
Run CI also on Node 12 + latest.

[2019-08-01 04:29] DanielRuf opened #5 "Support for pnp and npm-shrinkwrap"
**Is your feature request related to a problem? Please describe.**
Currently only package-lock.json and yarn.lock are checked. But npm-shrinkwrap.json is not which gets higher priority than package-lock.json.

https://docs.npmjs.com/cli/shrinkwrap.html

Also add support for Yarn PnP.

**Describe the solution you'd like**
Support for more lockfile types, especially npm-shrinkwrap.

[2019-08-01 04:32] DanielRuf opened #6 "Bug: only one file checked"
## Expected Behavior

If there are multiple lockfiles like we use at zurb/foundation-sites, only one will be checked.

## Current Behavior

Only one / first found lockfile is checked as it seems.

https://github.com/lirantal/lockfile-lint/blob/master/packages/lockfile-lint-api/src/ParseLockfile.js

## Possible Solution

Test all found lockfiles.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## C

[2019-08-01 20:17] #4 closed

[2019-08-01 20:26] lirantal commented on #6
@DanielRuf
1. What is the use-case of using several lockfiles for a project?
2. As a workaround you could lint them one by one

[2019-08-01 20:39] DanielRuf commented on #6
Same setup for all consumers (of the app), see https://github.com/zurb/foundation-sites

[2019-08-01 20:46] lirantal commented on #6
When you say to all consumers do you mean for those using "npm" and also for those using "yarn" ?

[2019-08-01 21:33] DanielRuf commented on #6
And pnpm, Yarn PnP and so on. Yes. We normally update all of them at the same time.

[2019-08-30 10:26] lirantal opened #8 "Allow ignoring `dev` dependencies in a lockfile"
**Is your feature request related to a problem? Please describe.**
Allowing to ignore dev related dependencies in a lockfile might be useful due to fs file linking and other related usages.

[2019-08-30 10:28] lirantal opened #9 "Provide more verbose output on issues found"
**Is your feature request related to a problem? Please describe.**
Currently when an issue is found during a linting script run the information provided on the error is pretty limited, such as:

[code]

Would be better to provide more verbose information on errors such as the actual package this was detected on and so on.

[2019-09-24 20:12] nishils opened #10 "CLI option to report all non-whitelisted URLs used"
This looks like a pretty awesome project and something I would like to include in Salus (www.github.com/coinbase/salus) to get better coverage on yarn and npm projects.

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

I'd like to get a list of all URLs being used that don't match the whitelist that fails a scan.

**Describe t

[2019-09-24 21:15] lirantal commented on #10
Thanks for the feedback, sounds great!

You can get this when running the linter in debug mode as shown in the screenshot on the README.

I like the JSON suggestion - we can support a `--json` flag to return all the this data in a structured way, including the full URL as you pointed out. I'm happy to get a PR that adds this.

P.S. I'm heading out to JSConf Budapest for a week so will be slow to r

[2019-09-24 22:22] nishils commented on #10
Sorry, I may be misunderstanding something. When I run ` DEBUG=* lockfile-lint --type yarn --path yarn.lock --validate-https --allowed-hosts yarn npm` , I get the following output

[code]

I don't see anything anything about the URL that is being flagged. For example, if the package was making connections to https://evil.com, I would like to see that along with the package that is making the call.

[2019-09-24 22:26] lirantal commented on #10
You are correct, we are not displaying anything about the URL, just the package.
Agree with you completely 👍

[2019-10-04 02:42] nottoseethesun opened #11 "How to add exception to allow e.g. `git+ssh://git@gitlab.foo.bar`"
For `--allowed-hosts`, how to allow also a specific `git+ssh://git@gitlab.foo.bar` source?

This would also have to work with the option to require https.

[2019-10-04 16:03] lirantal commented on #11
That's a good point. What would be the use-case we'd want to support? a specific one-off complete URL as a source? such as something like `git+ssh://lirantal@github.com/lirantal/lockfile-lint.git#1234567890` or would you want to only match the protocol `git+ssh`?

[2019-10-04 17:19] nottoseethesun commented on #11
I would think that in order to support public repositories such as github.com, we'd want to validate against the whole URI, optionally including the commit hash or branch name, such as you suggest: `git+ssh://lirantal@github.com/lirantal/lockfile-lint.git#1234567890`.

[2019-10-04 17:48] lirantal commented on #11
so I'm thinking you could whitelist such URLs in this way:

If you only want to lint based on the hostname:
[code]

If you want to lint based on the hostname *and* enable https
[code]

WDYT?

[2019-10-04 18:10] nottoseethesun commented on #11
That sounds like an improvement.  I have a couple suggestions:

* Follow the cannonical uri syntax: https://en.wikipedia.org/wiki/URL#Syntax
 * So for example, the option would be `--allowed-schemes` instead of `--allowed-protocols`.
* Allow restriction by other uri parts (as defined in the wikipedia page listed above):
 * `--authority`,`--uriPath`,`--query`, and `fragment`

I think `--query` can

[2019-10-04 18:32] lirantal commented on #11
I have actually aligned with the syntax used by Node.js's URL API: https://nodejs.org/api/url.html#url_url_protocol - though perhaps worth to use the universal language for it instead of the object keys.

Indeed not sure how authority and fragment will only be relevant for specific schemes so I'm not 100% on those. Agree with `--validate-https` staying as-is.

I actually had to make a change thoug

[2019-10-04 19:13] lirantal commented on #11
@nottoseethesun could you provide some practical examples of installing from git and how does that look in a package-lock.json and in a yarn.lock files? I think looking at the resolved entry would not be suffice

[2019-10-04 19:50] nottoseethesun commented on #11
On the `scheme`/`protocol` - I think either would be fine; perhaps per https://tools.ietf.org/html/rfc7320 , `scheme` is more precise.  Very minor topic though.

I agree on `authority` and `fragment` perhaps only being useful for `git+ssh`, but thought to suggest that since, in the future, other schemes might arise, so this would be flexible to adapt.  Just a suggestion; this can be made to work m

[2019-10-04 19:55] lirantal commented on #11
but then for `--allowed-uri`, that would not match all the others being from registry.npmjs.org, yarnpkg, etc, so what should we test exactly with only such parameter provided?
Seems like you'd still need to send `--allowed-hosts npm --allowed-uri "git+https://...."` right?

p.s. appreciate all the feedback ❤️

[2019-10-04 19:59] nottoseethesun commented on #11
Regarding your question about a practical example, here are a couple:

`npm`'s `package-lock.json`:

[code]

`yarn`'s `yarn.lock`:

[code]

[2019-10-04 20:01] lirantal commented on #11
Yep, so looks like for yarn we can go with `resolved` while with npm its safer to use `version` when resolved doesn't exist.

[2019-10-04 20:01] nottoseethesun commented on #11
So I was just thinking that the `--allowed-uri` would be something of an island unto itself, in that it would just take precedence, such that (for example) there's be no need to add the host in `--allowed-hosts`.  Again, just a suggestion.

[2019-10-04 20:03] lirantal commented on #11
Alrighty, let's leave out allowed-uri for now as I think we have a plan around allowed schemes and allowed hosts updates and that should work well for now. We can work out allowed uri in future PR.

[2019-10-12 17:30] gagyibenedek commented on #8
I'll jump on this :)

[2019-10-12 22:52] emimuresan commented on #9
Hi @lirantal ! I created a PR for this. Please take a look when you get a chance. Thank you!

[2019-10-13 07:30] XhmikosR opened #14 "Exclude unneeded files from the npm packages"
Right now the npm packages have many useless files, like `_tests_`, `jsdocs.json` and maybe more.

I could make a patch, but being I'm not familiar with your monorepo situation, maybe you should do it. Should be a fairly trivial change.

[2019-10-13 08:27] #14 closed

[2019-10-13 09:21] lirantal commented on #9
Addressed in https://github.com/lirantal/lockfile-lint/pull/13

[2019-10-13 09:21] #9 closed

[2019-10-13 09:26] lirantal opened #16 "Friendlier error message when parsing lock files fails"
**Is your feature request related to a problem? Please describe.**
When parsing files of either npm or yarn lockfile, let's make sure we show a friendly error message instead of the general error exception being thrown.

This is in continuation to #9 and the work landed by @emimuresan in #13

**Describe the solution you'd like**
This should probably be done at the level of `ParseLockfile.js` class

[2019-10-13 09:29] lirantal opened #17 "Provide the actual bad string being used"
**Is your feature request related to a problem? Please describe.**
Right now when the linter fails on an untrusted option found in the lockfile it says which package is it, but it doesn't say what is the actual bad string being used.

For example, an output of lockfile-lint could be:

[code]

But it doesn't say what is the string provided as the "scheme" that is found to be invalid, and so it woul

[2019-10-13 09:50] pratik97 commented on #17
I will take a look :)

[2019-10-13 10:54] pratik97 opened #18 "Fixing example mentioned in README.md of lockfile-lint-api"
In the README.md example, there is a typo, `lockFilePath` instead of `lockfilePath`. To fix another issue, I cloned the project and copied the example to get started but it was not working, so after few minutes I found the reason was the typo :/.

[2019-10-13 11:06] emimuresan commented on #16
I will take a look 👍

[2019-10-13 11:28] pratik97 commented on #18
@lirantal created a PR for this.

[2019-10-13 12:25] pratik97 commented on #17
@lirantal raised a PR for this

[2019-10-13 17:29] emimuresan opened #21 "Use log symbols for easier to read output"
**Is your feature request related to a problem? Please describe.**
1. More friendly and easier to read output.
2. Also in case of no issues found, a success message should be printed - right now i don't see any message if all is ok.

**Describe the solution you'd like**
Use something like: https://www.npmjs.com/package/log-symbols

**Describe alternatives you've considered**
Alternative solution,

[2019-10-15 08:10] lirantal commented on #18
thanks

[2019-10-15 08:11] #18 closed

[2019-10-18 22:13] lirantal commented on #17
thanks!

[2019-10-18 22:15] lirantal commented on #21
Sure we can try to spicy things up a bit.
Did you have a particular format in mind for how errors would look like? I agree about having a success message too and formatting that is pretty straight-forward.

[2019-10-24 23:37] #16 closed

[2019-11-07 06:51] #17 closed

[2019-11-16 06:35] XhmikosR opened #23 "Issue with owner/repo packages"
So, I was trying a package saved as owner/repo: https://github.com/nodejs/nodejs.org/commit/654e9915c0d1b8c7db92e0c2e39b6836b10e73fe

This doesn't pass with allowed host `github, npm`, but shouldn't it pass?

[2019-11-16 06:39] XhmikosR commented on #23
...and if I specify the full GH URL then I hit the `git+https` error which is valid since that's how npm saves the packages.

https://github.com/nodejs/nodejs.org/pull/2671/checks?check_run_id=305868263#step:9:30

[2019-11-18 21:42] lirantal commented on #23
hey @XhmikosR, you are referring specifically to this package the way it is set in package.json:
[code]

and it's corresponding lockfile entry:
[code]

If so, it looks like the syntax here is just `github:` instead of the fully qualified domain name such as `github.com`

[2019-11-18 21:59] lirantal commented on #23
Further on, a few things to note:
- `--allowed-hosts` takes an actual hostname, so something like `--allowed-hosts "github.com"` or it can take an alias. The supported aliases right now are: verdaccio, npm and yarn which resolve to the hosts for these mirrors.

Using your package-lock.json as an example I get these issues:

![image](https://user-images.githubusercontent.com/316371/69097019-5788ad0

[2019-11-21 13:22] mbogh opened #24 "Getting detected invalid host(s) for file: dependencies"
## Expected Behavior
I have a package.json and therefore also a package-lock.json which contains a reference to a package on the file system using `file:`. But it complains about the invalid hosts.

## Current Behavior

**package.json**
[code]

**package-lock.json**
[code]

[code]

[code]

## Possible Solution
Maybe ignore host when using a `file:` scheme?

## Steps to Reproduce (for bugs)

1. Cre

[2019-11-21 14:16] XhmikosR commented on #23
Hey, @lirantal.

`npm i XhmikosR/metalsmith-permalinks#master` results in:

[code]

And `npm i https://github.com/XhmikosR/metalsmith-permalinks.git#master` results in:

[code]

So, yeah, npm does know how to handle this and it's totally valid. Allowing an empty host, I'm not sure it makes a lot of sense, though?

`git+https` should pass IMO since it's a valid npm protocol. Also, I'm not sure if t

[2019-11-22 00:27] wan54 opened #25 "Support for github: scheme"
Is there plan to support this type of package?

npx lockfile-lint -p package-lock.json -t npm -s -a npm gitlab.com '' -o "https:" "github:"

detected invalid protocol for package: lottie-api@github:bodymovin/lottie-api#793fcfc4d8f2da1b868977c1a2c36eaf696e28c0
    expected: https:
    actual: github:

[2019-11-22 01:05] lirantal commented on #23
to be honest, the problem I have is with npm allowing something like this:
[code]

which then becomes
[code]

because:
1. it implicitly translates that into github. how does it know I didn't intend to refer to a repository on bitbucket?
2. `github:XhmikosR/metalsmith-permalinks#432843d5823a292b2e47397ba46fd761d03eb9d3` is simply not a valid WHATWG URL which is causing issues when parsing it (see e

[2019-11-22 01:08] lirantal commented on #23
At least with yarn, if you add this package the lockfile properly refers to a standardized URL:
![image](https://user-images.githubusercontent.com/316371/69389652-52816300-0cd5-11ea-8ef4-8642630f7dbd.png)

[2019-11-22 01:10] lirantal commented on #25
We have an issue related to this so you should definitely follow-up on the conversation there:
- https://github.com/lirantal/lockfile-lint/issues/23

[2019-11-22 01:12] wan54 commented on #25
Thank you

[2019-11-22 01:18] lirantal commented on #25
@wan54 in your case, the issue is that you expect HTTPS to be used (you specified `-s` in the arguments) but when you use a scheme then the HTTPS flag is redundant.

This should work for you:

[code]

[2019-11-22 01:34] wan54 commented on #25
I tried that also. Is that right though to use '' in the allowed hosts?

[2019-11-22 06:41] XhmikosR commented on #23
Because github is the default for npm. The same way it works if you do `"repository": "lirantal/lockfile-lint"` in package.json.

As for parsing it, yeah, it would require replace the github part with https. Also, do note that there might be more cases like this. Maybe `git+ssh`.

[2019-11-22 13:06] lirantal commented on #23
I understand it is the default, just expressing my personal view of not liking this implicit approach :)

As for supporting other schemes, as long as you provide the scheme it should work just fine, regardless to what it actually is. So for example, if you have git+ssh type of resources then you should do this:

[code]

[2019-11-22 21:17] lirantal commented on #23
@XhmikosR wanted to let you know that this is now fixed in latest versions of lockfile-lint, try this:

[code]

let me know if you have any questions or further issues but I'm confident this should solve the usage problem for you.

[2019-11-22 21:17] #23 closed

[2019-11-22 21:17] lirantal commented on #25
@wan54 wanted to let you know that this is now fixed in latest versions of lockfile-lint, try this:

[code]

let me know if you have any questions or further issues but I'm confident this should solve the usage problem for you.

[2019-11-22 21:17] #25 closed

[2019-11-22 21:40] lirantal commented on #24
@mbogh I released a new version a couple of hours ago that mitigates this issue, try again:

[code]

Why the new version works?
I am ignoring empty hostnames in resources as something invalid, which is what you get when you use local files or github related imports.

I'll close the issue since this is now fixed but if it's still not working for you let me know please and we'll figure it out.

[2019-11-22 21:40] #24 closed

[2019-11-23 07:26] mbogh commented on #24
Thank you so very much 🎉

[2019-11-23 08:35] lirantal commented on #24
Sure thing. Thanks for chining in with the issue and a descriptive problem detail :)

[2019-12-23 10:05] radmen opened #36 "Question: possible false positives"
I've read the [article](https://snyk.io/blog/why-npm-lockfiles-can-be-a-security-blindspot-for-injecting-malicious-modules/) about this tool and at first all made sense.

Then, I've looked at the examples and realized that it's simple to trick it to report false positives.

I'll give two scenarios.

### 1. using the example from the article

1. the hacker injects link to Github repository (as in t

[2019-12-23 20:40] jonchurch opened #37 "lockfile-lint-api example code ParseLockFile casing is incorrect"
The example code for lockfile-lint-api does not run because the casing for `ParseLockFile` should actually be `ParseLockfile`.

[2019-12-23 21:06] #37 closed

[2019-12-23 21:31] lirantal commented on #36
Hi 👋

Thanks for chiming in and hope the article was a valuable insight.
TLDR; none of these is an expected source of concern for lockfile-lint, see below for elaborate explanation.

To address your scenarios:
1. GitHub whitelisting - this is actually no different than whitelisting all of npm too, right? just like you mentioned in your 2nd point. We had a good discussion about it here https://gith

[2019-12-24 10:56] radmen commented on #36
I'm sorry, I didn't mean to sound harsh. English is not my native language, and it didn't seem aggressive to me.

I've mentioned a scenario of lock file poisoning - a case where a package is replaced by another directly in a lock file. This is something that might go unnoticed by the user.

It's a scenario that goes way beyond host/protocol checking. It would probably require (IMO) a more in-depth

[2019-12-24 12:06] lirantal commented on #36
Agree, it's a form of poisoning but at the level of the trusted source.
To an extent, it is the purpose of the tool, but also there's a scope of how much you're able to scope out and what risk you still have to undertake. Otherwise, you could also argue that even if you lint specific package sources then someone can compromise npm or GitHub themselves to manipulate one version with another too.

L

[2019-12-24 18:39] lirantal opened #39 "Feat: whitelist sources based on specific properties"
**Describe the solution you'd like**
In continuation to discussion in https://github.com/lirantal/lockfile-lint/issues/11 we'd like to be able to also whitelist specific URLs to resources such as files hosted on a GitHub archive.

I would prioritize to support:
1. Specific GitHub URLs to a commit/hash
2. Wild-card for a GitHub repo, as in: https://github.com/lirantal/lockfile-lint

[2019-12-27 11:25] niftylettuce opened #40 "Typo in description "an npm" > "a npm""
[code]

[2019-12-27 11:26] #40 closed

[2019-12-27 11:58] MathieuAA opened #41 "The tests fail because yargs detects the OS' locale"
I can do a PR for the issue if you want.

## Expected Behavior

The tests should pass when cloning & installing the project.

## Current Behavior

They do not.
See:
[code]

That's because my locale is set to the french one, and yargs translates the CLI output (at least some of it) (See [https://github.com/yargs/yargs/blob/master/docs/api.md#detectlocaleboolean](https://github.com/yargs/yargs/blob/

[2019-12-27 11:58] MathieuAA commented on #41
By the way, thanks for the article!

[2019-12-27 16:31] XhmikosR commented on #23
Hey, @lirantal, sorry for the late reply :)

So I just tried this on my branch and it still fails:

[code]

https://github.com/nodejs/nodejs.org/pull/2671/commits/1fc4e2567d5cc25fcc0911103ec3baf37254c50e#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R21

[2019-12-27 20:03] lirantal commented on #23
you don't actually need `--validate-https`

try again and let me know?

[2019-12-27 20:04] lirantal commented on #23
@XhmikosR forgot to mention you for a ping about ☝️

[2019-12-28 20:32] ixti commented on #11
I would like to see `--alowed-uri-prefix` or `--allowed-uri-pattern` option, as it would allow to for example whitelist packages hosted in private repos, e.g.:

[code]

[2019-12-29 05:17] bolatovumar commented on #39
I would be interested in this feature. For 1. would it look something like this: `npx lockfile-lint --path yarn.lock --validate-https --allowed-hosts github.com/<org-name>/<repo-name>#<hash>`?

[2019-12-31 10:06] richsilv opened #42 "Packages in local filesystem always yield errors when using -s (yarn)"
Thanks for releasing this very important tool! There's one small issue preventing us from adopting it:

## Expected Behavior

If you add a package from the local filesystem (e.g. `yarn add path/to/my/package`), an entry is created in `yarn.lock` corresponding to the package which has no `resolved` field. I would expect this package to be ignored by `lockfile-lint` (or at least to have a flag to ig

[2019-12-31 10:07] richsilv commented on #42
Happy to submit a PR to fix this if you confirm that it's a valid issue and whether it requires a new flag.

[2020-01-03 11:12] XhmikosR commented on #23
Hey, @lirantal. Indeed without `--validate-https` it works. I feel something isn't clear, though. Maybe there should be an error in these cases?

[2020-01-15 12:13] kruczy commented on #42
have the same issue with our locally installed packages

our use case could be more common as we use it in a monorepo where we do not publish any of the packages to a registry

[2020-01-15 23:41] lirantal commented on #42
Greatly detailed report and reproducing steps, thank you @richsilv.
I agree and confirm that by default local packages such as this should be ignored. The PR should be simple and small so if you'd like to submit it I'd gladly merge.

Thanks @kruczy for confirming also that this is a valuable fix for you too.

[2020-01-16 21:36] #42 closed

[2020-01-17 16:50] matthias-ccri opened #45 ""Only yarn supported"?"
Hello!

The readme states:

This seems like old information, since the `lockfile-lint` package does support npm lockfiles, though I may be wrong.

So in this issue, I want to ask: is this readme statement correct?

[2020-01-17 18:15] lirantal commented on #45
Oh you're right! README is definitely old since npm's `package-lock.json` is supported as well. Would you want to submit a quick PR to fix it (remove that note) ?

[2020-01-17 19:04] lirantal commented on #23
@XhmikosR I agree. Can you open a new issue for us to discuss this and some solutions we can think of?

[2020-01-17 19:56] lirantal commented on #39
@bolatovumar would be happy to have you submit a PR for this.

Implementation-wise, the current allowed-hosts is checking for the actual host, as in `github.com` is a host, where-as `https://github.com/lirantal...` is a URL or href value from the `new URL` API on Node.js. I'm wondering if we should update the current behavior of `allowed-hosts` then to match the URL which is a smaller change, or i

[2020-01-17 19:59] lirantal commented on #11
@ixti can you jmp over to https://github.com/lirantal/lockfile-lint/issues/39 to discuss? I'm wondering if just changing the current behavior of `--allowed-hosts` will be enough to cover this.

[2020-01-17 20:45] matthiasdailey-ccri commented on #45
Sure thing: https://github.com/lirantal/lockfile-lint/pull/46

[2020-01-17 22:19] ixti commented on #39
I think `--allowed-hosts` is good-enough (although in case of `abc.xys/foo/bar#baz` it sounds a bit erroneous, as it's not *host* anymore but *url* sort of). Perfect addition for that will be `--allowed-schemas` that will be `["https", "git+ssh"]` by default, and which can supersede `--validate-https`.

[2020-01-17 22:19] ixti commented on #11
@lirantal Sure. Added my 2 cents to #39.

[2020-01-17 23:57] #45 closed

[2020-01-19 21:37] bolatovumar commented on #39
I'm willing to take a crack at implementing this once I have some time. The use case I need to support is the case when a certain project forks an existing package and uses the forked version which is hosted on Github. See this line for an example: https://github.com/LN-Zap/zap-desktop/blob/master/package.json#L324

[2020-01-22 16:07] JamesSingleton opened #47 "Support multiple paths and/or glob patterns in the CLI"
**Is your feature request related to a problem? Please describe.**

Sort of, if you are trying to use the CLI in a lerna repo it doesn't support glob patterns like
`lockfile-lint -p packages/*/package-lock.json -t npm -a npm -o https: -c -i`

**Describe the solution you'd like**

Either support multiple paths or glob patterns.

**Describe alternatives you've considered**

Writing a script to manua

[2020-01-22 21:57] tunnckoCore commented on #47
Doesn't Lerna support single lockfile at the root (when used only with npm)? Lerna with Yarn workspaces creates single lockfile.

[2020-01-22 22:12] Francois-Esquire commented on #47
@tunnckoCore I believe `lerna` behaves differently between `yarn` and `npm`:

https://stackoverflow.com/questions/52181762/are-there-any-advantages-to-using-lerna-with-yarn-workspaces/52279466#52279466

https://github.com/yarnpkg/yarn/issues/5428

As some of these links suggest, having one `package-lock.json` or `yarn.lock` in a monorepo is not necessarily production ready per package- if each was

[2020-01-23 00:14] tunnckoCore commented on #47
Got it. Thanks for the linked discussions :)

[2020-01-23 18:56] lirantal commented on #39
schemas and https are already taken care in terms of being supported.
I'm thinking the same about allowed hosts being confused with a URL which is why I didn't want to use it for the same thing.

[2020-01-23 18:59] lirantal commented on #39
@bolatovumar yep I agree. the case of specifying `https://github.com/LN-Zap/bolt11#0492874ea9ced4ab49bf0f59a62368687f147247` as a whitelist is exactly the case of a URI rather than a host.

It's not "hard" to do, just that I had offloaded some validates to be independent, and now we need to combine them so that one validator doesn't reject the other.

[2020-01-23 19:04] lirantal commented on #47
@tunnckoCore no support for pnpm but it shouldn't be hard to add if you wanted to give it a stab

@JamesSingleton if you wanted to provide a glob pattern I'd happily merge it.

[2020-01-23 19:07] lirantal commented on #41
@MathieuAA apologies for the late reply on this.
Would definitely merge a PR that fixes this, and seems the solution is just to disable detection? Would be happy to land it.

[2020-01-23 19:11] lirantal commented on #41
I'm not sure on translating the `https:` to `HTTPS` because I'm not convinced it will be easier to understand. Did it confuse you? what will we do with other protocol schemes like `git+ssh:` ?

[2020-01-23 19:53] MathieuAA commented on #41
As there's a finite set of possible protocols, formatting them shouldn't be too big a deal. Frankly, just for that, it's not worth adding the formatting. Fixing the test is more important.
I won't be able to do it til tomorrow. The fix stays the same, if you wanna do it before tomorrow, by all means.

[2020-01-23 19:57] tunnckoCore commented on #47
@lirantal I'm looked in the source and it's seems easy to add.

We could probably use `@pnpm/lockfile-file`, but I don't see exposed api there for "parsing" there is only methods that accept the path to the lockfile. Here, we need the final "parsed" content of the file. /cc @zkochan

And yet, I'm not sure if that the `lockfile-lint-api/src/ParseLockfile.js` is the only place that changes are neede

[2020-01-23 19:59] tunnckoCore opened #48 "Pnpm support"
**Is your feature request related to a problem? Please describe.**

Support for the @pnpm lockfile linting.

**Describe the solution you'd like**

I quickly looked over the source here and what I found is that it would be quite easy to add support and it could start from the `lockfile-lint-api/src/ParseLockfile.js` file.

We could probably use `@pnpm/lockfile-file`, but I don't see exposed api the

[2020-01-23 22:03] JamesSingleton opened #49 "lockfile-lint does not lint the entire tree for package-lock.json"
When running `"test:lockfile": "lockfile-lint -p package-lock.json -t npm -a npm -o https: -c -i",` it does not check past the first resolved URL for a dependency.

## Expected Behavior

`lockfile-lint` should check the entire tree.

## Current Behavior

If we take the below snippet from a `package-lock.json` and change the `semver` resolved URL to `http` or a URL other than `registry.npmjs.org`,

[2020-01-24 08:02] lirantal commented on #41
@MathieuAA no rush on my side so when you get to it in the upcoming week that's fine

[2020-01-24 19:10] JamesSingleton commented on #49
It is because it takes the last dependency and version and adds it to the flattened lockfile. If we take something like

[code]

This dependency is used in a lot of packages, if I change the first one to be _malicious_ but the rest are fine, then `lockfile-lint` will miss it.

[2020-01-26 06:27] #41 closed

[2020-01-26 10:35] lirantal commented on #49
@JamesSingleton can you perhaps provide a more complete lock-file with the semver or ansi-regex problem? The problem isn't that lockfile-lint doesn't lints the dependencies but rather that it perhaps builds them incorrectly and then misses something.

[2020-01-26 10:50] lirantal commented on #49
Alrighty, I'm able to reproduce. Thanks for the heads up on this 👌

[2020-01-26 10:59] lirantal commented on #49
@JamesSingleton if you wanted to take a stab at fixing it and providing a PR I'm happy to guide you through on the change that I had in mind. It's not a very complicated one but the refactor will touch a few places.

In specific I was thinking of:
* parse functions in `ParseLockfile.js` will return a flat array list instead of an object
* all validators and tests will accept the list and will iter

[2020-01-27 01:45] JamesSingleton commented on #49
@lirantal yeah, I was trying to keep everything an object so there wouldn't have to be much refactoring of the validators. However, as I dug more into the code I don't think that would be possible.

[2020-01-27 21:00] lirantal commented on #49
Right. The problem with keeping it as an object is that the same package/version would be equal (which is what happening today) so it would be the same entry and not a different one. I think converting to an array would be ok.

Are you gonna send off a PR for this? (no rush)

[2020-01-27 21:02] lirantal commented on #48
@tunnckoCore indeed I believe the change is only limited to that parsing function/file. However, notice that we might be changing the way that the parsed results are represented (right now an object, but we'll be changing it to a link based on discussion in #49)

[2020-01-27 21:31] JamesSingleton commented on #49
This is what I was thinking of:

[code]

However, I now run into another issue `Encountered error Invalid URL: 1.1.1 in package: "abbrev@1.1.1-8f0b92d6fc7847f731964a4f3ab3b7c1e53edee5" `

This is because the dependency looks like this:

[code]
I shortened it as this one is roughly 500 lines long.

The error points to this line

[code]

Not sure how this is now just coming up now though.

[2020-01-28 02:04] JamesSingleton commented on #49
@lirantal, let me know your thoughts on that solution and if you can think of a decent solution for the `new URL()` issue as I noticed you do `resolved: depMetadata.resolved ? depMetadata.resolved : depMetadata.version` to probably catch if someone `npm install` a `.tgz` file.

[2020-01-28 18:06] JamesSingleton commented on #49
So I have it _working_ minus the above issue. Also, there are tests like
[code]

That yes this throws, but it would throw `TypeError [ERR_INVALID_URL]: Invalid URL: debug-4.1.1.tgz#3b72260255109c6b589cee050f1d516139664791` because `new URL('debug-4.1.1.tgz#3b72260255109c6b589cee050f1d516139664791'')` is not a valid URL.

[2020-01-28 21:18] JamesSingleton commented on #49
If you want to see the changes I had in mind, I have pushed them here: https://github.com/JamesSingleton/lockfile-lint/commits/bugfix/dependency-depth

[2020-01-28 23:46] JamesSingleton opened #54 "Check version is actually a proper semver version"
This is in regards to my comment here: https://github.com/lirantal/lockfile-lint/pull/53#issuecomment-579500899

We should check that the version matches a semver version instead of something like `file:../lockfile-lint/packages/lockfile-lint/lockfile-lint-3.0.8.tgz`

## Expected Behavior

`lockfile-lint` should check that the version is an actual semver version instead of something else.

## Curr

[2020-02-01 10:26] lirantal commented on #11
so @bolatovmar suggested this https://github.com/lirantal/lockfile-lint/pull/52/files#diff-803bbd31414b876c6a30b1dcf035cac8R44 which essentially "upgrades' the `--allowed-hosts` to also be a more specific URL, such as:
[code]

I have some observations on that PR if we want to land that kind of change:
- it needs to be extended to support the scheme as well, so that one off URLs like `git+ssh://git

[2020-02-01 10:28] lirantal commented on #21
@emimuresan happy to add it if you wanted to give a chance for a PR

[2020-02-01 16:53] #36 closed

[2020-02-01 16:59] lirantal commented on #5
Updated docs as to the supported lockfiles.
PnP isn't supported to closing this with no further updates.

[2020-02-01 17:00] lirantal commented on #6
Closing due to work on this being handled with https://github.com/lirantal/lockfile-lint/issues/47

[2020-02-01 17:00] #6 closed

[2020-02-01 17:02] lirantal commented on #8
Closing due to less of public interest in pursuing this.
Re-opens are welcome.

[2020-02-01 17:02] #8 closed

[2020-02-01 17:05] #5 closed

[2020-02-01 17:22] lirantal commented on #54
James I'm still struggling with the basic problem case of

where it seems that there are two issues you that are being discussed here:
1. The `resolved` field sometimes gets its information from the `version` field because there is no other `resolved` field that exists, and so the `version` fields points to the actual source. In your example it is a file location but it can also be git+ssh:// URL

[2020-02-01 17:27] lirantal commented on #10
@nishils I believe that the PR at https://github.com/lirantal/lockfile-lint/pull/20 which landed a while ago is now providing this, right? See https://github.com/lirantal/lockfile-lint/pull/20#issuecomment-544120055 as an example of what a current output will be like

[2020-02-01 17:30] lirantal commented on #10
Will close as this is now being supported and happy to see this used in the Salus project ❤️

[2020-02-01 17:30] #10 closed

[2020-02-01 17:44] JamesSingleton commented on #54
So the current code tries this `packageResolvedURL = new URL(packageMetadata.resolved)` which _currently_ is either an actual URL or potentially a file path if you installed a local tarball. However, now that we are looking to go through all of the dependencies, you run into an issue where there isn't a `resolved` and instead only a `version`. When that happens `packageResolvedURL = new URL(packag

[2020-02-01 19:22] lirantal commented on #54
@JamesSingleton got it.
what about doing something like this as a solution:
1. `resolved` takes `resolved` if exists and if not then `version` (as originally it did)
2. we try to `new URL()` it and if it fails we catch the exception and ignore because then we assume that it was indeed an actual version and ignore the exception

would this work?

[2020-02-01 19:26] lirantal commented on #54
@JamesSingleton how about we put a small PR to fix this issue first, based on the above proposed solution, or another if you care to suggest a better way. Land that. And then land #53 with the updated changes as proposed here? this way #53 can land without regression from previous way it worked.

[2020-02-01 22:06] JamesSingleton commented on #54
I mean what you are asking is this correct?

[code]

If so, I can just make those changes in my current PR. And then add
[code]
Back int.

[2020-02-02 09:21] lirantal commented on #54
@JamesSingleton yes that's what I meant. that works too if you want to push it into the current PR.

[2020-02-03 01:24] JamesSingleton commented on #54
Just an FYI, this will remove the tests that say `validator should throw a descriptive error when one is encounterd in a package` as it will no longer throw. Is that fine?

[2020-02-03 07:34] lirantal commented on #54
@JamesSingleton correct because that's the only case covered by that test code.
After your PR lands I'll think of a more elegant way of solving the resolved-version pair of fields so that we could perhaps maintain that URL check.

[2020-02-03 16:15] JamesSingleton commented on #54
@lirantal it was taken care of in 989d9a2

[2020-02-03 16:51] lirantal commented on #54
Saw it, thanks!

[2020-02-03 16:52] #49 closed

[2020-02-03 17:42] JamesSingleton commented on #49
@lirantal, when do you think this fix will be published?

[2020-02-03 22:23] lirantal commented on #54
Fixed in #53

[2020-02-03 22:23] #54 closed

[2020-02-04 03:10] travi opened #58 "invalid protocol when undefined"
## Expected Behavior

before the new version published today, running lockfile-lint against my projects was passing.

## Current Behavior

now seeing several projects failing with lots of failures similar to

[code]

https://travis-ci.com/travi-org/matt.travi.org/builds/147288295#L340-L2012

not sure if this was intentional with recent changes, but seems unexpected.

## Possible Solution

## Steps

[2020-02-04 05:53] sobolevn commented on #58
Related: https://github.com/wemake-services/wemake-vue-template/pull/1594

[2020-02-04 07:12] fregante commented on #58
I just did a clean of my project (latest deps and new package-lock) and still got this error: https://github.com/sindresorhus/refined-github/pull/2751

[2020-02-04 07:55] lirantal commented on #58
thanks, looking into it 👁

[2020-02-04 08:27] #58 closed

[2020-02-04 08:28] lirantal commented on #58
@fregante @travi thanks for opening the issue quickly, I fixed the regression with PR #59

[2020-02-04 08:30] lirantal opened #60 "Add missing unit test coverage for PR #59"
**Is your feature request related to a problem? Please describe.**

PR #59 rushed to get a quick fix out due to a regression introduced in #53 but it missed on adding proper tests coverage for the underlying issue.

**Describe the solution you'd like**

Add unit tests

[2020-02-04 08:57] XhmikosR commented on #60
Hey, @lirantal. It seems there's a regression somewhere in today's releases https://github.com/twbs/bootstrap/runs/424924937#step:9:26

[2020-02-04 08:58] fregante commented on #58
I can confirm #59 works. Thank you for the quick fix!

[2020-02-04 08:58] lirantal commented on #58
Thanks! 🙏

[2020-02-04 08:59] lirantal commented on #60
@XhmikosR correct but I just fixed it quickly! :-)
https://github.com/lirantal/lockfile-lint/pull/59

Can you re-run the CI to get the newly published version? (got published a few minutes ago)

[2020-02-04 09:06] lirantal commented on #60
@XhmikosR by the way, I'm curios how are you getting this error since that regression was published in the last 24 hours and it doesn't seem like you have updated your dependencies on the bootstrap project and you also don't use npx so I'm curious why you were receiving this error at all

[2020-02-04 09:14] XhmikosR commented on #60
That's a branch I just created; I haven't yet updated to the latest version because I noticed the errors.

But it seems I'm still getting the error with the latest versions:

<details><summary>Log</summary>

[code]

</details>

[2020-02-04 09:18] lirantal commented on #60
1. Oh looking into this now too 👀
2. Which version did you get the previous errors with ?

[2020-02-04 09:18] XhmikosR commented on #60
It's the same version.

[2020-02-04 09:20] lirantal commented on #60
I meant that 3.0.10 and 3.0.11 are the least versions released within the last 24 hours but you said that in the branch you opened you didn't update lockfile-lint but those errors seem to be related with those versions I listed

[2020-02-04 09:23] XhmikosR commented on #60
Oh, no, the branch I made does use the latest versions and the error happens. v3.0.9 seems to work fine, v3.0.11 throws the aforementioned error.

[2020-02-04 09:24] lirantal commented on #60
Gotcha. I see the issue, give me a second to push a fix.

[2020-02-04 09:35] lirantal commented on #60
PR in https://github.com/lirantal/lockfile-lint/pull/61 fixes it

[2020-02-04 09:36] XhmikosR commented on #60
Thanks, I will try it as soon as a new patch is out! Oh, and sorry for not opening a new issue about this, I thought it was the same regression :)

[2020-02-04 10:01] lirantal commented on #60
@XhmikosR no worries, it is the same regression indeed :-)
I just merged it so a new release is going to be available in some 5-10 minutes. Let me know if you still find issues.

[2020-02-04 12:40] XhmikosR commented on #60
All good now!

[2020-02-04 14:29] travi commented on #58
fixed for me as well. thanks for the quick resolution :)

[2020-02-05 05:36] obartra commented on #60
Is `lockfile-lint-api@5.0.10` the version with the fix? I'm reproing the same issue there (but not on 5.0.7)

[code]

I wasn't sure if to file a separate issue since it seems related

[2020-02-05 08:08] lirantal commented on #60
@obartra regression was indeed fixed and released to both packages: CLI and API.

[2020-02-05 08:21] obartra commented on #60
I'm reproing on 5.0.10 though (for the api package)

[2020-02-05 08:25] lirantal commented on #60
@obartra I'm confused, can you please open a new thread to discuss this as we're hijacking something unrelated here?

[2020-02-05 23:29] obartra opened #62 "resolved field change between v5.0.7 and v5.0.10 for API package"
Updating to `lockfile-lint-api@5.0.10` the `resolved` metadata field doesn't always resolve to a URL or undefined (sometimes it's contains a package a version)

The following illustrates the issue:

[code]

## Expected Behavior

- All packages return a URL that looks like (or undefined):

[code]

Instead, on 5.0.10 some packages return the version only:

[code]

Seems to happen for any packages th

[2020-02-05 23:40] obartra commented on #62
As a side note, my solution to the update has been to change the code from:

[code]

to:

[code]

I haven't tried it but I suspect [this line](https://github.com/lirantal/lockfile-lint/blob/master/packages/lockfile-lint-api/src/validators/ValidateScheme.js#L32) would be problematic if receiving something like `1.2.3` instead of a URL

[2020-02-06 09:36] XhmikosR opened #63 "Extra check for incompatible options"
**Is your feature request related to a problem? Please describe.**

https://github.com/lirantal/lockfile-lint/issues/23#issuecomment-569302102

[code]

**Describe the solution you'd like**

Since the above works without the `validate-https` flag, maybe there should be some checks in place for potentially incompatible options.

[2020-02-06 09:36] XhmikosR commented on #23
Done, see #63

[2020-02-06 19:53] lirantal commented on #63
@XhmikosR totally agree and have been on my mind as well.
It should also be straightforward to do with `yargs` configuration options. You can detect if both are being used and then fail, or better yet, in my opinion schemes should override https.

Would you like to submit a PR for this?

[2020-02-06 20:54] lirantal commented on #62
The change we introduced didn't really make an update to the resolved field but rather now we iterate through all the tree, which we didn't before, so it is possible that you just didn't have a lockfile structure before that had a resolved key set to a version number.

As you correctly wrote,  some packages return the version only:
[code]

With regards to your workaround. Wouldn't it be better to

[2020-02-07 17:30] obartra commented on #62
Oh interesting yeah that makes sense. Is the `"resolved"` field something specific to the lock files or part of `lockfile-lint`'s API? If the later it may make sense to add dedicated fields (e.g. `"version"` or something like that) instead so that resolved is always a URL or undefined.

And I totally missed the try catch block 🤦‍♂ yeah what you have seems fine. I just wanted to avoid swallowing al

[2020-02-07 23:34] XhmikosR commented on #63
Sorry, I don't have a lot of free time to tackle this. I just wanted to
make an issue to track this. :)

On Thu, Feb 6, 2020, 21:53 Liran Tal <notifications@github.com> wrote:

[2020-02-07 23:35] lirantal commented on #63
No worries at all, I'll shoot in a PR for that soon enough and ping you then ❤️

[2020-02-08 11:57] lirantal commented on #63
@XhmikosR how does this look like:

[code]

[2020-02-09 09:52] lirantal commented on #62
@obartra the resolved field is something that stems from the lockfiles indeed. We just standardize the interface to it because it is referenced in a different way between npm and yarn's lockfiles.

Cool thanks, and you're welcome to re-open if you wanted to discuss further 🤗

[2020-02-09 09:52] #62 closed

[2020-02-10 09:55] XhmikosR commented on #63
@lirantal yup, that works!

[2020-02-10 09:55] lirantal commented on #63
Great. Merging away 🎉

[2020-02-10 09:56] #63 closed

[2020-02-10 13:36] XhmikosR opened #69 "Tests fail on Windows"
[code]

[2020-02-10 13:55] XhmikosR commented on #69
OK, after playing around with the source code I think I know why this happens.

The cli spawn should be `node script` and not `script`. Shebangs don't work on Windows

[2020-02-10 16:28] ixti commented on #11
I'm fine either way. :D It's just `--allowed-hosts git+ssh://lirantal@github.com/lirantal/lockfile-lint.git#1234567890` looks a bit weird (argument name mismatch value). But FWIW it's not that important to me - as long as I can use that one ;))

[2020-02-10 20:45] #69 closed

[2020-02-14 23:12] lirantal commented on #11
Ok. What do you mean by `argument name mismatch value` ?

[2020-02-15 09:57] ixti commented on #11
@lirantal I mean when I see argument name `--allowed-hosts` I would expect it to accept a list of hosts, not URL pattern :D But that might be just me, so as I said earlier - I'm fine with any way that will give me an option to whitelist some private github repos :D

[2020-02-19 18:40] lirantal commented on #11
Yep, I was somewhat concerned with that too which is why I hesitated on merging it until now. Let's take it into the PR and see what we can adjust.

[2020-02-19 18:42] lirantal commented on #11
@bolatovumar I have an idea on how we can support a dedicated command line parameter here. Would you be open and available to making the changes in your PR so we can merge it?

[2020-02-22 17:18] bolatovumar commented on #11
@lirantal sorry, was a bit busy recently so didn't see this. I might have some time in a week or so to adjust my PR to support a dedicated command line parameter. Let me know what you are thinking.

[2020-02-22 19:09] lirantal commented on #11
Sure thing. Details on the PR page as I saw you commented there

[2020-03-05 15:49] mtlewis opened #74 "File-based configuration"
First off, thanks for this super useful tool.

**Is your feature request related to a problem? Please describe.**
Sharing lockfile-lint configuration is currently problematic, because the only way to configure it is via command-line arguments. If it were possible to store this configuration in a file, it would allow sharing that file amongst multiple repositories. It would also have the additional

[2020-03-06 08:28] lirantal commented on #74
Sounds like a great new feature, thanks for suggesting this @mtlewis 🎉

[2020-03-07 05:30] bolatovumar opened #76 "Add "all is good" confirmation when validation succeeds"
**Is your feature request related to a problem? Please describe.**
Currently when you run the validation command and everything succeed you don't get any feedback in the console so it leaves you wondering if validation actually took place.

**Describe the solution you'd like**
Add some some sort of confirmation message like `👍 Validation successful` if everything passed.

[2020-03-07 05:41] bolatovumar opened #77 "Some tests seem to be testing the wrong thing"
Four tests in `validators.host.test.js` test that the `validate` method does not throw. Instead these tests should be checking the result object equality since `validate` method never throws.

See this test for example: https://github.com/lirantal/lockfile-lint/blob/master/packages/lockfile-lint-api/__tests__/validators.host.test.js#L45. It does this:

[code]

Instead, it should do this:

[code]

[2020-03-07 08:47] lirantal commented on #77
Ahh, good catch.
There are some cases when they throw though: https://github.com/lirantal/lockfile-lint/blob/master/packages/lockfile-lint-api/src/validators/ValidateHost.js#L18

I agree however that the tests haven't been fixed for the newly returned values of success/errors. Let's finish the other PR you're working on and get to this next. Thanks for bringing it up 🙏

[2020-03-07 08:47] lirantal commented on #76
Great idea!

[2020-03-09 21:00] #74 closed

[2020-03-15 04:14] bolatovumar opened #78 "PackageError module is not used."
As the title says, `PackageError` module is defined but never used anywhere.

See here: https://github.com/lirantal/lockfile-lint/blob/master/packages/lockfile-lint-api/src/common/PackageError.js#L3

[2020-03-16 10:31] lirantal commented on #78
Indeed, that's due to the refactor we did that swallowed errors (https://github.com/lirantal/lockfile-lint/blob/a089214722c2cc355bd6be602b7af475acf247a5/packages/lockfile-lint-api/src/validators/ValidateScheme.js#L42-----L43).

I think it's safe to remove for now and if we need in the future we can re-add it.

[2020-03-19 08:10] JustFly1984 opened #79 "getting error on build ci/cd"
[code]

is it false positive? how can I fix it? have tried to clear cache, node_modules and regenerate yarn.lock

Our build pipeline is broken. Please provide an advise.

[2020-03-19 13:16] lirantal commented on #79
hmm, interesting. Can you share the lockfile that caused this so we can test?

[2020-03-19 13:18] lirantal commented on #79
@JustFly1984 if I have to assume it seems like you have a package there installed from github directly, where as in the hosts you are only allowing packages fetched from the yarn registry mirror. Is this what is happening?

If you wanted to whitelist all of github as a trusted source of packages:
[code]

[2020-03-19 15:05] JustFly1984 commented on #79
I got the solution, but I do not consider github as safe source of direct dependencies at this moment. The issue is that I would not like dependencies of subdependencies to source from github directly. It is suspicious that cypress has this published in 4.2.0 version. I’ve cross linked issues in cypress repo

[2020-03-19 17:57] lirantal commented on #79
So sounds like you indeed found a situation with that dependencies and best to check with the direct parent of it. Can you share the github issue link? I'll be happy to follow up on it and also get the context for it.

[2020-03-21 02:57] tkore opened #80 "Shrinkwrap has a typo"
## Expected Behavior

Users should be able to copy "shrinkwrap".

## Current Behavior

People copy "shrinkwarp".

## Possible Solution

Changing "shrinkwarp" to "shrinkwrap".

## Steps to Reproduce (for bugs)

In a project that includes an npm-shrinkwrap.file, copy the npm-shrinkwrap.json example from README.md (`npx lockfile-lint --path npm-shrinkwarp.json --type npm --allowed-hosts npm yarn --va

[2020-03-23 21:24] lirantal opened #82 "README updates for URL validator"
Hey @bolatovumar can you push an update to the READMEs of the CLI package in particular to document the new URL validator and add some example cases? we forgot to attend to that in #52  :-)

[2020-03-23 22:27] #80 closed

[2020-03-24 01:21] bolatovumar commented on #82
Will do.

[2020-03-24 07:38] #82 closed

[2020-03-26 07:17] XhmikosR commented on #79
https://github.com/cypress-io/cypress/issues/6785

@lirantal I think you can close the issue 🙂

[2020-03-26 10:10] lirantal commented on #79
Yes indeed, thanks for the ping @XhmikosR 🙏

[2020-03-26 10:11] #79 closed

[2020-03-26 10:14] XhmikosR commented on #78
@lirantal this can be also closed 🙂 (`Address` does not close the referenced issue 😛)

[2020-03-26 10:17] lirantal commented on #78
Yes! oooof I really miss semantic-release for monorepos 🙃
Thanks!

[2020-03-26 10:18] #78 closed

[2020-03-31 15:38] #76 closed

[2020-03-31 15:38] #77 closed

[2020-05-07 07:48] jennifer-shehane opened #89 "Example 3 from Readme does not work"
## Expected Behavior

Run examples given in Readme.

## Current Behavior

Running example #3 from readme does not work, refers to CLI info. https://github.com/lirantal/lockfile-lint/tree/master/packages/lockfile-lint#example

[code]

## Steps to Reproduce (for bugs)

1. `lockfile-lint --path yarn.lock --allowed-hosts yarn github.com --validate-https --allowed-schemes "https:" "git+https:"`

## Con

[2020-05-12 16:51] juanpicado commented on #89
@lirantal is the issue only in the README? like remove `--validate-https`?

As far I can read int he codes both arguments cannot be used together. In the case of + :) I'd love to PR.

[2020-05-12 20:26] lirantal commented on #89
Thanks @jennifer-shehane, good catch!

@juanpicado yep, the issue is the README on the lockfile-lint/ package. validating https and using allowed-schemes is indeed mutually exclusive, so need to update that example.
I'd be honored for a PR ❤️🤗

[2020-05-13 06:50] #89 closed

[2020-05-13 07:13] mnahkies opened #92 "lockfile-lint-api@^5.1.3 not published"
The version of `lockfile-lint-api@5.1.3 that should have been published by this commit 12 days ago:
https://github.com/lirantal/lockfile-lint/commit/a939b5fa0af060970f8b9511d1204e0b569fcd4b

Does not appear to have been.

The new version of `lockfile-lint` that was published this morning depends on this version, and now fails to install - can you please check this, and publish the required version

[2020-05-13 07:30] lirantal commented on #92
Looking into it now

[2020-05-13 07:39] lirantal commented on #92
Triggered a build now for release too, let's see if it bumps packages: https://travis-ci.org/github/lirantal/lockfile-lint/builds/686460434

[2020-05-13 08:07] lirantal commented on #92
lockfile-lint@4.3.3 and lockfile-lint-api@5.1.5 released
@mnahkies can you confirm things are ok?

[2020-05-13 08:11] krzysztofwolski commented on #92
Works for me now.

[2020-05-13 08:15] mnahkies commented on #92
Yep works fine now thanks @lirantal

[2020-05-13 08:15] #92 closed

[2020-05-13 08:15] lirantal commented on #92
Thanks for chiming in here. Sincerely appreciate that 🙏

[2020-05-13 16:22] matthias-ccri opened #93 "allowed-hosts failing on urls with port and no scheme"
Hi there! We've been using lockfile-lint at our company. We have been specifying `--allowed-hosts` with a domain and port, like this: `nexus.example.com:8089`. Up until yesterday, this worked fine:

[code]

As of today, the above command results in false positives that look like this:
[code]
(Note the leading comma in the "expected" value. It seems that this CLI argument is being parsed incorrectl

[2020-05-13 19:28] lirantal commented on #93
FYI you can debug from the CLI via:
[code]
It'll show you what has been parsed and a bit more details.

[2020-05-13 19:29] lirantal commented on #93
Looked into it quickly, and believe I see the issue.
Thanks for raising this. I'll push a fix and happy if you can confirm it too.

[2020-05-13 22:37] #93 closed

[2020-05-13 22:38] lirantal commented on #93
@matthias-ccri should be fixed by PR #94 and a version will be released soon.
It would be greatly appreciated if you could use the latest version and let me know if the issue is fixed.

[2020-05-14 06:32] lirantal commented on #93
Fixed in the latest version.
Thanks for reporting @matthias-ccri ❤️

[2020-05-14 14:04] matthias-ccri commented on #93
Thanks! Sorry, I wasn't able to figure out how to npx from a git repo. Thanks again for the fix.

[2020-05-14 16:05] lirantal commented on #93
Many many thanks to you @matthias-ccri for taking the time to report it. Appreciate it, and happy to push that fix ❤️

[2020-06-19 19:46] ashwinv11 commented on #11
Thanks for all the hard work on that PR – we're very excited to use this feature! Any possibility this could come in a future release? 🙏

[2020-06-21 10:10] lirantal commented on #39
Addressed in https://github.com/lirantal/lockfile-lint/pull/52

[2020-06-21 10:11] #39 closed

[2020-06-21 10:11] lirantal commented on #11
Addressed in https://github.com/lirantal/lockfile-lint/pull/52

[2020-06-21 10:11] #11 closed

[2020-11-19 15:50] xiniria opened #99 "Vulnerability in y18n (prototype pollution)"
## Expected Behavior
When using `npq` (your own tool! 😋) to install `lockfile-lint`, it pointed out that it has 1 vulnerability, [according to Snyk's Vuln DB](https://snyk.io/test/npm/lockfile-lint/4.3.7). Actually this vulnerability is a prototype pollution in `y18n@4.0.0`, which is a dependency of `yargs@15.4.1`. It is a [known vulnerability](https://github.com/yargs/y18n/issues/96) and it [has

[2020-11-19 15:57] xiniria commented on #99
I just realized that the Snyk bot already created a PR for that: #98

[2020-11-19 23:38] lirantal commented on #99
Indeed it created, but thank you so much for calling this out and making sure I track it!
You're a security hero, sir! 🤗 💜

[2020-11-20 00:09] #99 closed

[2020-11-20 15:07] xiniria commented on #99
@lirantal The publish job failed on the CI so there is no new version after [this PR](https://github.com/lirantal/lockfile-lint/pull/98), could you check what happened?

[2020-11-20 17:04] lirantal commented on #99
Yep, I know. It's because the lockfile didn't get properly updated. I am on a temporary macbook right now so I don't have a clone of the project and the environment to fix it. If you wanted to submit a PR that updates the lockfile I'll gladly merge it, as I'll only get to this later next week.

[2020-11-21 11:57] xiniria commented on #99
Done in #100.

[2020-12-07 06:33] jdanil opened #101 "Yarn v2 support needed"
**Is your feature request related to a problem? Please describe.**

Yarn v2 introduced a new lockfile format that now adheres to YAML. I believe ATM when trying to run lockfile-lint on a project with yarn v2, lockfile-lint tries to use the v1 parser and fails with an error.

[code]

**Describe the solution you'd like**

As far as I can tell, yarn v2 does not have an equivalent lockfile parser. But

[2020-12-12 20:51] lirantal commented on #101
@jdanil yep, sounds like that would be a great way to support it and shouldn't need too much work besides some try/catch to figure out which yarn version it is when you start parsing. Would you be up to sending a PR to lockfile-lint to support it?

[2021-01-18 16:25] MikeRalphson opened #102 "Crash when package-lock.json has no dependencies"
## Expected Behavior

If the `package-lock.json` file has no `dependencies` and `--validate-https` is specified, `lockfile-lint` should not crash.

## Current Behavior

[code]

[code]

## Possible Solution

Guard against the non-presence of the `dependencies` property.

## Steps to Reproduce (for bugs)

One of the packages in my mono-repo (https://github.com/mermade/oas-kit) has the following `pac

[2021-01-18 16:34] MikeRalphson opened #103 "Additional validations"
From some quick testing, it appears the following issues are not currently validated:

1. Ensure every `dependencies` entry in `package-lock.json` has an `integrity` property with a non-empty string.
2. Ensure the `resolved` URL package name matches the dependency it should resolve, to prevent substitutions
3. Ensure the version number within the `resolved` URL matches the dependency version it sh

[2021-01-18 20:28] lirantal commented on #103
(1) is a nice idea for a flag, agree.

Can you expand what you mean by (2)?

[2021-01-19 08:12] MikeRalphson commented on #103
Given this snippet of `package-lock.json`:

[code]

It appears that if I change this to:

[code]

If `jquery@3.5.1` is not in the npm cache, it will use the `resolved` URL to fetch and install the malicious package in place of the one expected.

Proposed validation (3) was a variant of this where the first example was changed to:

[code]

where the intention is to pin the version installed to one

[2021-01-30 18:25] lirantal commented on #103
I see. So in (2), the check in place would actually be to ensure the dependency key `jquery` matches the path name `jquery` too? Is this how you would actually apply the test? I'm wondering if this is something that is:
1. Cross-compatible between npm and yarn's lockfile
2.An expected format that is guaranteed to have that structure (thinking about scoped packages and other strings in the package

[2021-01-31 08:20] XhmikosR commented on #21
This should fix the Windows situation too where right now no symbols are shown, because Windows native CLI is inherently broken :)

[2021-02-03 14:04] #103 closed

[2021-02-06 21:58] emimuresan commented on #21
Hi @XhmikosR , i opened a PR for this (included Windows support).

[2021-02-08 21:17] #21 closed

[2021-02-08 21:18] lirantal commented on #21
Thanks for getting back to this one! 👏🏼

[2021-02-08 22:46] lirantal commented on #102
@MikeRalphson just wondering if there's a reason why you closed this and the other issue?

[2021-02-10 18:04] ewanharris opened #105 "Allow tying packages/scopes to a specific host"
**Is your feature request related to a problem? Please describe.**

I was reading [this article](https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610) that discusses a supply chain attack by searching for internal packages within an organisation that don't exist in public npm and using them as a potential attack vector.

I wondered whether this is something lockfile-lint could provide

[2021-02-11 09:15] lirantal commented on #105
Hi @ewanharris
Great to see the awareness for open source security, thanks for opening an issue to discuss this.

Given the nature of the issue being the client that install the packages, anything we do on lockfile-lint will actually be after-the-fact and wouldn't realistically prevent an individual from the vulnerability. Meaning that, even if there's a rule that says a specific package scope is

[2021-02-11 09:18] lirantal commented on #102
@emimuresan if you wanted to pick this one up...

[2021-02-19 11:18] #105 closed

[2021-02-19 11:22] #60 closed

[2021-02-19 11:23] #47 closed

[2021-02-25 22:51] jeznag opened #108 "Are lockfiles actually a vulnerability?"
```<Disclaimer>```
I am not trying to hack anyone else, just trying to figure out if this a real problem that I need to worry about for my team
```</Disclaimer>```

I tried following the steps here: https://snyk.io/blog/why-npm-lockfiles-can-be-a-security-blindspot-for-injecting-malicious-modules/

but it doesn't actually result in a vulnerability.

## I followed these steps:

1. Created a malicio

[2021-02-26 10:04] #102 closed

[2021-02-26 12:57] papb commented on #108
Hi, can you try `yarn install --frozen-lockfile` instead of `yarn install` in your step 6?

[2021-02-26 19:07] lirantal commented on #108
@jeznag did you also make sure the cache on disk is cleared and that node_modules/ dir doesn't exit anymore?
I'd also try @papb's suggestion, as it enforces sources of the lockfile, rather than the package manager figuring out "what's best"

I haven't tested recently, to say whether this behavior was changed with newer versions of yarn, but regardless, there's still benefit in ensuring a trusted s

[2021-02-28 07:01] jeznag commented on #108
Yup I tried that. It makes no difference. The flag seems to just not update the lockfile

```Don’t generate a yarn.lock lockfile and fail if an update is needed.```

I tried clearing the cache and removing node_modules. Same result

![image](https://user-images.githubusercontent.com/1034890/109410458-f97f9f00-79ee-11eb-8277-7c08363c4a3d.png)

[2021-04-05 02:36] abdulhannanali commented on #101
@lirantal Hey, I would like to work on this issue, however, I see there's this lockfile parser https://github.com/snyk/nodejs-lockfile-parser/ which seems to be covering yarn lockfile v2 already. However, they don't provide the capability of getting the resolved url and the integrity hash.

Do you think I should take this up with the authors of that repo and if they are willing to accept that chan

[2021-04-05 02:37] abdulhannanali commented on #101
In case, if you think they won't be able to accept that change, I can make a PR to this repo adding support for yarn v2 lockfile, I have already done some prior work

[2021-04-05 02:40] abdulhannanali opened #109 "Replace Travis CI with Github Actions"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
Github Actions are more integrated than Travis CI, so I thought if this is something you'd like to consider

**Describe alternatives you've considered**
None

[2021-04-05 18:26] lirantal commented on #101
@abdulhannanali

Yep, sounds like a good idea to see if the folks maintaining that `nodejs-lockfile-parser` are interested to add those metadata items, so we can ultimately use that for the whole parsing we need.

Sounds good with me. Happy to have you collaborate on this pull request. Thanks ❤️

[2021-04-05 18:52] lirantal commented on #109
Yes, let's do that!
@abdulhannanali will you come up with a PR? I have a bunch of GitHub Actions workflows in my other repos if you needed some reference starting point to get started.

[2021-04-05 20:43] abdulhannanali commented on #101
@lirantal

Awesome, I'll open an issue there and mention you to get this going. Thank you likewise, happy to collaborate <3

[2021-04-05 20:46] abdulhannanali commented on #109
@lirantal Awesome, I will check them out

[2021-05-13 18:36] jerone commented on #101
It looks like npm 7 support was implemented: https://github.com/snyk/nodejs-lockfile-parser/releases/tag/v1.34.0

[2021-05-13 20:37] lirantal commented on #101
Nice. Thanks for the heads up @jerone
@abdulhannanali would you want to go at it?

[2021-05-14 06:28] abdulhannanali commented on #101
@lirantal Thanks for the heads up, sorry I wasn't able to attend to it earlier. I will take a go at it.

[2021-11-18 06:52] eserkaraca opened #112 "Use allowed url patterns in a single hostname"
**Is your feature request related to a problem? Please describe.**
We have multiple npm repositories served on a single host, release, and dev on different paths. e.g.:
Dev repo: https://artifactory.example.com/npm/DEV/...
Release repo: https://artifactory.example.com/npm/REL/...

I want to enforce release usage.

**Describe the solution you'd like**
Have a parameter to specify allowed URLs but wi

[2021-11-20 19:11] lirantal commented on #112
Hi @eserkaraca,

I think that's a good idea for an enhancement.
I added some labels with hope that someone picks this up. If you're like to submit a PR yourself (or anyone on your team), I'd be happy to merge it and release the new feature support.

[2022-02-16 21:40] fabioberger opened #113 "Verify that the resolved URL references fetches the exact package it's nested under in the lockfile"
**Is your feature request related to a problem? Please describe.**

Yes. I realized that it's not very hard for an attacker to publish a package to a trusted repository, and therefore simply verifying that all packages are pulled from a trusted repository does not drastically increase the difficulty of performing an attack via lockfile modification. Instead of modifying the lockfile to resolve a d

[2022-02-19 13:46] lirantal commented on #113
Thanks for the ping Fabio, let's take the discussion in the PR 👍🏼

[2022-02-24 07:20] jelhan commented on #109
I think this issue could be closed since #110 has been merged.

[2022-02-24 15:12] vipulgupta2048 opened #115 "Error could be more descriptive"
**Is your feature request related to a problem? Please describe.**

Using this command `lockfile-lint --type npm --allowed-hosts npm github.com --allowed-schemes 'https:' 'git+https:'` resulted in error

[code]

**Describe the solution you'd like**

1. The error should be the first thing the users should see. Getting this multiple times resulted in confusion over what exactly is the error.
2. The

[2022-02-24 17:50] #109 closed

[2022-02-27 20:59] lirantal commented on #115
Hi @vipulgupta2048, thank you for raising this issue.
I agree that the issue can be more descriptive. Maybe we even style the error message in red color or such?

Let me look into what sort of fix should be applied to help you create a Pull Request to fix this.

[2022-02-27 21:11] lirantal commented on #115
Ok so if we switch the order of the arguments definition so that the long form text becomes the key of the object and the alias becomes the short, then when `yargs` (the command line args parser lib) will show the long form.

The change required is kind of like this:

[code]

Do you want to submit a pull request that fixes this? don't forget to update the tests too.

[2022-03-09 22:08] #113 closed

[2022-04-05 18:16] bozdoz opened #120 "Require Resolved field, and Check package versions"
I've run into timeout issues with npm because my packages don't have `'resolved'` fields in the package-lock file.    This seems simple enough to add: https://github.com/lirantal/lockfile-lint/blob/9b0b16715e4cfb77c7ec6ec180d9c1f1c8bcb8e6/packages/lockfile-lint-api/src/validators/ValidatePackageNames.js#L21-L23

I am also curious about ensuring versions; squelched here: https://github.com/lirantal

[2022-04-06 22:52] lirantal commented on #120
Hi Bozdov, thanks for opening an issue on these.

The first issue you reported sounds like something we should fix. Could you also share an example/reference lockfile which doesn't have that `resolved` field? On this issue still - if `resolved` isn't available, it might be a good idea to show a warning on STDERR to capture the attention of the user and recommend regenerating the lockfile.

Let's b

[2022-04-14 17:09] bozdoz commented on #120
@lirantal Yes I can split this into separate issues and start on the `resolved` fields issue.  Stay tuned! 😄

[2022-04-14 21:30] lirantal commented on #120
Sounds good!

[2022-05-12 14:35] lirantal commented on #120
Could it be that these are changes related to the lockfile version? I believe it was simply schema changes between npm6, npm7, and npm8.

[2022-05-25 09:18] naugtur opened #122 "Replace @yarnpkg/lockfile with @yarnpkg/parsers"
- maintained as part of yarn berry
- supports old and new lockfile format
- may not reach for filesystem powers etc.

[2022-05-25 09:23] naugtur opened #123 "Limit reliance on `fs` and other powerful builtins in lockfile-lint-api"
This is to support running under SES lockdown and/or LavaMoat with strict policies.
The idea is to make lockfile-lint-api work in an environment where if it or its dependencies get corrupted it has no powers to exploit anything.

- require powerful modules only if actually used
- add an option to accept a utf8 string of the lockfile as input instead of a path to read

[2022-05-25 09:28] naugtur opened #124 "Epic: enable fearless cooperation"
What's [fearless cooperation](https://agoric.com/assets/pdf/FearlessCooperation-SES-BrianWarner-Agoric-DWeb2018.pdf)? It's running 3rd-party code in a way you benefit from it but without risking anything worse than an error being thrown if it turns malicious.

Initial scope limited to lockfile-lint-api package

- [x] #122
- [x] #123
- [x] #125

Changes proposed:
- #126
- #127

[2022-05-25 09:52] naugtur opened #125 "Remove strict dependency on `debug` in lockfile-lint-api"
To avoid reaching for `tty` in lockfile-lint-api package, remove `debug` as dependency.

- Allow passing a reference to debug via arguments or state
- Wire up debug in lockfile-lint main package and in tests

[2022-05-25 10:29] naugtur commented on #122
Having replaced the parser I see it's failing a test for bad-yarn.lock because the new parser is accepting any mix of JSON and yaml apparently.
We'd need a validation step after parsing to check if the object shape is as expected.

[2022-05-25 10:39] naugtur commented on #122
Also, why is the shape
[code]
leaking from yarn through to the parseSync output? It throws if it's not a success. Why not just return the object?

[2022-05-25 11:14] naugtur commented on #124
@lirantal

[2022-06-08 13:55] appsbytom opened #128 "Ability to validate lockfileVersion"
**Is your feature request related to a problem? Please describe.**
Using npm in a team has the ability for different engineers to install different npm versions, these different versions can change the lockfileVersion field as the schema changes https://docs.npmjs.com/cli/v8/configuring-npm/package-lock-json#lockfileversion

**Describe the solution you'd like**
A flag to pass the version it should

[2022-06-08 18:19] lirantal commented on #128
Totally understand where this is helpful to force a specific one version for the team, but I think this shouldn't be done with lockfile-lint, but rather with something like nvm's `.nvmrc` (see here: https://github.com/nvm-sh/nvm#nvmrc) or if you use [fnm](https://github.com/ngryman/fnm) then the corresponding config.

Does that make sense?

[2022-06-08 19:33] appsbytom commented on #128
I see what you mean with .nvmrc however that doesn't force the version as the developer needs to remember to run `nvm use`. So it's possible if the developer uses a different default Node version to what the project uses it can be missed.
Also using a specific Node version doesn't always mean that the npm versions are the same.

Current example is, I use the default npm version with Node 10 howeve

[2022-06-08 19:47] lirantal commented on #128
`lockfileVersion` 2 is actually backwards compatible with lockfileVersion 1 :-)

So, some ideas for other workarounds that can apply here:
1. You can specify the Node.js runtime versions, and also the npm runtime version with `package.json`'s `engines` field. See [here](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#engines)
2. You can also explicitly have a `.npmrc` file with a [lockf

[2022-06-08 20:04] appsbytom commented on #128
It may be compatible but we had the issue of the package-lock rewriting itself to match the correct schema for the npm version used and switching back and forth. So wanted to have something that would automatically flag this.

lockfile-version in `.npmrc` is a good idea though, thanks.

Looking more at `.npmrc`, wouldn't the registry key do similar as to the checks here for hosts, https?

[2022-06-08 20:13] lirantal commented on #128
🤗

Nope. It doesn't force a trust policy, but merely sets the default upstream repository for when you do `npm install`.

[2022-06-08 20:23] #128 closed

[2022-06-09 10:51] #122 closed

[2022-06-10 21:17] lirantal commented on #123
Sounds good to me.

That second one should definitely be a separate PR.

[2022-06-10 21:20] lirantal commented on #124
Nice work, thanks for bringing this up.

[2022-06-11 19:09] naugtur commented on #123
Changes in the linked merged PR cover this issue. Removing debug has a side-effect of eliminating some more builtins from the list of what needs to be available for the code to run.

I could close this issue when #126 was merged, but wanted to reflect how #125 affects this too.

[2022-06-11 19:18] lirantal commented on #123
Ok. Anything else to resolve in order to land #127 ?

[2022-06-11 19:34] naugtur commented on #123
Nope, merging right now.

[2022-06-11 19:36] #125 closed

[2022-06-11 19:36] #123 closed

[2022-06-11 19:41] naugtur opened #129 "publishing doesn't seem to work anymore"
Publishing task fails

https://github.com/lirantal/lockfile-lint/runs/6845308617?check_suite_focus=true

Seems like yarn no longer supports some of it.

[2022-06-11 19:51] lirantal commented on #129
Yep, I'm on it

[2022-06-11 22:21] naugtur commented on #129
lockfile issues in a lockfile linter. classic. :sweat_smile:

[2022-06-12 08:16] #129 closed

[2022-06-12 08:17] lirantal commented on #129
BTW, looks like the changes rolled out as a non-major version. Might be worth looking into why that happened if you have the time.

[2022-06-13 06:46] naugtur commented on #129
Oh, that's not good. Can you remove them manually? I'll try running the steps locally and see what went wrong.

[2022-06-13 14:05] naugtur commented on #129
@lirantal  Tested locally and it worked as expected
[code]

Looks like a glitch. No idea how that's different

[2022-06-13 15:16] lirantal commented on #129
Will be taking a look there

[2022-06-13 20:52] lirantal commented on #129
I think maybe because in the prior publish run, it happened to create a git tag (https://github.com/lirantal/lockfile-lint/commit/b4a81437e7157b3f03ef01f626578ab736ffb099) for the two packages (although it wrongly created them as patch versions too). I think it didn't run through these because it thought them to be "released" already since the tag was created.

[2022-06-13 21:02] naugtur commented on #129
I'm not convinced. I think the versions are established before it gets to checking any tags.

Hypothesis: Somehow it didn't see the long commit messages in CI and locally it did. If logic was broken, someone would have noticed it before.

[2022-06-15 13:17] lirantal commented on #129
Maybe. There were prior cases of major version changes, we can try and track back the commits/PRs.

[2022-06-23 10:34] naugtur commented on #129
I looked at the generated changelog and published package because something didn't add up - it doesn't seem to have published any of my changes. Maybe if it fails to include them after it has failed on them before? Maybe a rebase (squash your fix on top of my merge) would help re-run?

[2022-07-27 03:40] CTCTIPragg opened #133 "Bare output option for basic environments"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Would be nice to have a bare output option for use in environments that don't like colors/emojis.

Example
[code]

[2022-08-30 10:45] mcmxcdev commented on #48
I was wondering if pnpm is already supported or not?

Looking at the readme and the source code it doesnt look like it, but when running `npx lockfile-lint --path pnpm-lock.yaml`, I receive a `✔ No issues detected` log statement. Is this misleading and just exiting with success because it doesn't understand the lockfile format?

[2022-09-17 22:57] bozdoz commented on #120
Just to follow up, I cannot seem to reproduce the 'resolved' fields missing anymore, even on the npm version I mentioned before. I've seen this happen in 3 different (work) projects, and even to myself (personal project), but just tried a few times now and can't figure out what situation causes it.

[2022-09-19 23:37] glensc commented on #21
a sysmbols typo appeared in changelog.md

[2022-09-23 10:31] glensc opened #138 "lockfile-lint failed parsing a URL object from given host value so using as is"
## Expected Behavior

## Current Behavior

Updated from "[lockfile-lint](https://npmjs.com/package/lockfile-lint)": "[^3.0.1](https://npmjs.com/package/lockfile-lint)"  to  "[lockfile-lint](https://npmjs.com/package/lockfile-lint)": "[^4.8.0](https://npmjs.com/package/lockfile-lint)"

And getting errors like:

[code]

the `failed parsing a URL` is printed like 1000 times. I guess for every item in

[2022-09-26 16:16] lirantal commented on #138
Hi @glensc, thanks for reporting the issue.
Can you please provide a reference lockfile so I can reproduce the issue?

[2022-09-26 16:29] lirantal commented on #138
Ok, I was able to reproduce locally. Indeed the update to use `new URL()` and parse the host from it isn't strictly needed for the `validate-host` option which uses hosts, and not URLs, hence this noisyness debug level isn't relevant to print an error about.

I'm pushing a fix for it.

[2022-09-26 16:48] #138 closed

[2022-09-26 21:04] glensc commented on #138
Fixed in https://github.com/lirantal/lockfile-lint/releases/tag/lockfile-lint@4.9.3  i suppose?

[2022-09-26 21:11] lirantal commented on #138
Fix added in 4.9.1 but you should indeed just get the latest. Let me know if there are still any lingering issues.

[2022-09-27 02:15] travi opened #141 "Renovate PRs don't include release notes"
## Expected Behavior

Despite `CHANGELOG.md` files existing for the packages, renovate PRs, like https://github.com/form8ion/core/pull/621 don't include those release notes.

defining `repository.path` in each `package.json` should inform tools like renovate to properly find the `CHANGELOG.md` files

## Current Behavior

only the version numbers are reportable in the release notes section of renov

[2022-09-27 09:56] #141 closed

[2022-10-05 00:01] wingy3181 opened #145 "Bug: CLI Argument parsing typos invokes other validates"
## Expected Behavior

Not to validate the integrity by default via CLI command
e.g.)
[code]

## Current Behavior

[code]
Always seems to validate the integrity is sha512

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run `npx lockfile-lint --validate-https -validate-package-names --validate-integrity --path yarn.lock`
with a lockfile that is using sha1 integrity
<img width="659" alt="

[2022-10-05 06:46] wingy3181 commented on #145
Ok so just an update......

I realised i'm missing an extra hyphen for validate-package-names

So if I remove that, then it does not validate the integrity

unfortunately cannot test it with the validate package names as I am using artifactory and face the following issue (https://github.com/lirantal/lockfile-lint/issues/112) which i needed to turn off.........

Just interesting the typo still for

[2022-10-06 20:09] lirantal commented on #21
@glensc could you point me to what you're referring to?

[2022-10-06 20:14] lirantal commented on #145
@yoavain want to look into it if there's something specifically to do to improve that?

@wingy3181 alright, well, sounds like if you don't have a typo then this isn' really an outstanding issue though, right?

[2022-10-06 20:56] #120 closed

[2022-10-06 21:13] yoavain commented on #145
I think this is a general issue.
I believe the bug is in the following logic:
[code]

The first line means that if a boolean parameter exists, the validator is added, regardless of the value true/false.
(The commandValue is passed as values to the validator, but the validator will be executed)

If I have time, I'll try to open a PR during the weekend

[2022-10-06 21:16] yoavain commented on #145
Also, regarding the original question, removing the `--validate-integrity` should work.
There seems to be a typo in the command above, Should be a double `-` in the `--validate-package-names`.

[2022-10-06 21:19] yoavain commented on #145
@lirantal
You can assign this to me, but please consider renaming the title to clear my name 🤨

[2022-10-07 08:09] glensc commented on #21
@lirantal:
- https://github.com/lirantal/lockfile-lint/search?q=sysmbols

[2022-10-07 09:30] lirantal commented on #21
OH I see. Thanks for flagging. I guess there's no other way of really fixing it except than editing the Changelog file which I think we can skip at this point.

[2022-10-07 10:28] lirantal commented on #145
Thanks @yoavain
Made the updates!

[2022-10-07 11:21] glensc commented on #21
yes. only changelog file could be fixed

[2022-10-08 00:21] wingy3181 commented on #145
yep there was a typo which i found a bit later.........
thanks @yoavain !

[2022-10-08 00:24] wingy3181 commented on #145
yep correct...well kind of...... obviously there was a typo with missing `-` and i needed to turn that off anyway because of the use of artifactory where i am at....... but as @yoavain  found there was still an issue with the fact it was validating the integrity with the typo which was a bit weird...

anyway thanks to you both for looking at it...

[2022-10-20 13:29] brad-decker commented on #101
So yarnpkg/parsers is now updated to work with the new lockfile format. I was able to get everything "working" with the following patch:

[code]

Note, i think you will also have to get the latest version of yarnpkg/parsers resolved, and you'll have to add 'npm:', 'patch:' etc to schemes instead of hosts. The way I broke apart the resolution field is probably really naive but it met our use case.

[2022-10-20 19:47] lirantal commented on #101
@brad-decker the above is just a Yarn2 compatible update then?
I'm thinking, perhaps we could have specific Yarn versions logic spread out, and then have one main code that determines the lockfile version, and then uses the relevant parser. WDYT? If you wanted to take a shot at that, I'm happy to merge a PR.

[2022-10-21 06:08] lirantal commented on #101
Sounds good!

[2022-11-16 19:26] kachkaev commented on #101
@brad-decker are you still interested in crafting a PR? No worries if not, just checking if the task is taken.

[2022-11-16 22:48] naugtur commented on #101
I didn't read through the entire convo, but as yarn above 1 goes, I remember replacing the lib used for reading yarn.lock with the modern one. FYI

[2022-11-21 19:04] candrews commented on #101
Can the title of this issue please be updated to "Yarn v2 support needed" for accuracy since NPM v7 is already supported?

[2022-11-22 20:55] naugtur commented on #101
@brad-decker call me whenever you need a second pair of eyes

[2022-11-25 14:10] naugtur commented on #101
Oh, and are you sure it's not working? I replaced the lockfile parser with the one used by yarn berry earlier this year
https://github.com/lirantal/lockfile-lint/commit/18c6ae0e75b8064ec7ca8c8460e7a6f9d9546f9a

[2022-11-25 18:33] kachkaev commented on #101
@naugtur I'm on `lockfile-lint@4.9.6` (2022-10-08), which does not seem to work with `yarn@4.0.0-rc.31`:
- https://github.com/lirantal/lockfile-lint/issues/101#issuecomment-1282502621
- https://github.com/blockprotocol/blockprotocol/pull/680
- Output for `lockfile-lint --path yarn.lock --allowed-hosts registry.yarnpkg.com --allowed-schemes \"https:\"`:
  `Unable to parse yarn lockfile "yarn.lock"`